.project {
  background: white;
  margin: 20px;
  border-radius: 20px;
  width: 320px;
  display: inline-block;
  border: 2px solid #8A9191;
  min-height: 400px;
  padding: 20px;
  overflow: hidden;

  h3 {
    font-size: 30px;
    margin: 0 0 0 10px;
  }

  .title {
    text-align: left;

    span {
      color: #8A9191;
      float: right;
      font-size: 20px;
      //font-weight: lighter;
    }
  }

  .project-img {
    width: 90px;
    height: 90px;
    margin: 0;
  }

  .description {
    text-align: left;
    color: #282828;
    margin-bottom: 20px;
    font-size: 18px;
  }

  ul {
    display: inline;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    line-height: 280%;

    li {
      font-size: 15px;
      text-decoration: none;
      margin: 5px;
      padding: 10px;
      color: white;
      background-color: #414040;
      border-radius: 10px;
      display: inline;
    }

  }

  .btn-dark-outline {
    text-decoration: none;
    font-family: Gabriola, sans-serif;
    font-size: 25px;
    background-color: transparent;
    padding: 0 10px;
    min-width: 150px;
    border-radius: 10px;
    border: 1px solid #282828;
    outline: none;
    color: #282828;
    margin: 2px;

    a {
      text-decoration: none;
      color: #282828;
    }

  }

  .btn-dark-outline:hover {
    background-color: #282828;
    color: white;

    a {
      background-color: #282828;
      color: white;
    }

  }


}

@media only screen and (max-width: 400px) {
  .project {
    margin-bottom: 20px;
    width: 240px;
    min-height: 360px;

    h3 {
      font-size: 25px;
      margin: 0 0 0 10px;
    }

    .title {
      span {
        font-size: 15px;
      }
    }

    .description {
      margin-bottom: 15px;
      font-size: 15px;
    }

    ul {
      display: inline-block;

    }
    .btn-dark-outline {
      font-size: 20px;
      padding: 0 5px;
      min-width: 125px;
      margin: 2px;
    }

  }
}
