<div class="about-section">

  <!--About me-->
  <div class="about-me">
    <h2>About me</h2>
    <div>
      <p>
        I am a Software Engineer with a passion for web & blockchain development.
        Throughout these last years, I have developed strong skills in analysis, design, and development,
         working with technologies like Java, Spring Boot, Angular, Solidity, TypeScript, HTML, and CSS.
      </p>
      <p>
        My background in classical music adds a creative edge to my work, 
        allowing me to approach challenges with fresh perspectives and innovative solutions.
      </p>
      <p>
        Currently, I am open to new opportunities and looking to collaborate on exciting projects
         that align with my skills and passion.
      </p>
    </div>
  </div>

  <!--What I can do-->
  <div class="work">
  </div>

  <!--Tech Stack-->
  <div class="tech-stack">
    <h2>Tech Stack</h2>
    <div class="stack-container">

      <h3>Backend</h3>
      <!--stack item 8-->
      <div class="stack-item">
        <img src="https://cdn.iconscout.com/icon/free/png-256/java-43-569305.png" alt="java-logo">
        <p>Java</p>
      </div>
      <!--stack item 9-->
      <div class="stack-item">
        <img src="https://miro.medium.com/max/300/1*J9d-VtiLfN9APIQgWTP9ow.png"
             alt="spring-boot-logo">
        <p>Spring boot</p>
      </div>

      <!--stack item 10-->
      <div class="stack-item">
        <img src="https://avatars3.githubusercontent.com/u/23086798?s=280&v=4" alt="jee-logo">
        <p>Java EE</p>
      </div>
      <!--stack item 13-->
      <div class="stack-item">
        <img src="https://www.codercrunch.com/content/skill/images/maven-f.png" alt="maven-logo">
        <p>Maven</p>
      </div>

      <!--stack item 14-->
      <div class="stack-item">
        <img src="https://help.apiary.io/images/swagger-logo.png" alt="swagger-logo">
        <p>Swagger</p>
      </div>


      <h3>Frontend</h3>
      <!--stack item 1-->
      <div class="stack-item">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/640px-HTML5_logo_and_wordmark.svg.png"
          alt="html-logo">
        <p>HTML</p>
      </div>
      <!--stack item 2-->
      <div class="stack-item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/800px-CSS3_logo.svg.png"
             alt="css-logo">
        <p>CSS</p>
      </div>
      <!--stack item 3-->
      <div class="stack-item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"
             alt="javascript-logo">
        <p>JavaScript</p>
      </div>
      <!--stack item 4-->
      <div class="stack-item">
        <img src="https://cdn.iconscout.com/icon/free/png-512/typescript-1174965.png" alt="typescript-logo">
        <p>TypeScript</p>
      </div>
      <!--stack item 5-->
      <div class="stack-item">
        <img src="https://seeklogo.com/images/A/angular-logo-B76B1CDE98-seeklogo.com.png"
             alt="angular-logo">
        <p>Angular</p>
      </div>

      <h3>Database</h3>
      <!--stack item 11-->
      <div class="stack-item">
        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/6/62/MySQL.svg/1200px-MySQL.svg.png" alt="mysql-logo">
        <p>MySQL</p>
      </div>

      <!--stack item 12-->
      <div class="stack-item">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1200px-Postgresql_elephant.svg.png"
          alt="postgresql-logo">
        <p>PostgreSQL</p>
      </div>

      <h3>Blockchain</h3>
      <!--stack item 16-->
      <div class="stack-item">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Solidity_logo.svg/1200px-Solidity_logo.svg.png"
          alt="solidity-logo">
        <p>Solidity</p>
      </div>

      <!--stack item 17-->
      <div class="stack-item">
        <img src="https://raw.githubusercontent.com/menezesphill/application_utils/main/hardhaticon.png" alt="hardhat-logo">
        <p>Hardhat</p>
      </div>

      <!--stack item 19-->
      <div class="stack-item">
        <img src="https://miro.medium.com/max/600/0*IQxtovIkGXiSWzVg.png" alt="ethersjs-logo">
        <p>EthersJS</p>
      </div>


    </div>
  </div>
</div>
