<div class="product">
  <h3 class="title">
    30 Days Planner
    <span>planners</span>
  </h3>
  <img class="product-img"
       src="././assets/30daysplanner.png"
       alt="30daysplanner-image">
  <p class="description">
    A 30 days resuable planner with a goal setting sheet, month calendar, habit tracker, weekly and daily sheets
  </p>
  <div class="gumroad-product-embed" data-outbound-embed="true">
    <button class="btn-dark-outline">
      <a href="https://gumroad.com/l/ZCjlV" target="_blank">View Product</a>
    </button>
  </div>

</div>
