<div class="contact-container">
  <div class="contact-info">
    <a href="mailto:abirelhalimi@gmail.com">
      <strong>Email</strong>
      <img src="https://cdn0.iconfinder.com/data/icons/instagram-32/512/Chat_Message_DM-512.png" width="30px"
           height="30px" alt="send me an email"
           style="margin: 0"
      />
      <p>abirelhalimi&#64;gmail.com</p>
    </a>
  </div>
  <div class="contact-form">
    <h2>Come say Hi!</h2>
      <iframe
      src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3beUUnDeD6Ne5VEF2ixDlanzwisKymGZ11Y0Y94ha39-MRV6aS93uE4jQ4HHlMh58-r4RGiI2y?gv=true"
      class="appointment-form"
      width="100%"
      height="600"
      >

      </iframe>
    
    
  </div>
 </div>