<div class="container">
  <div>
    <h1>Abir El Halimi</h1>
    <h2>Software Engineer</h2>
  </div>
  <div class="links">
    <a href="https://github.com/abirelhalimi" target="_blank">
      <img src="assets/github-icon.png" alt="github-link">
    </a>
    <a href="https://www.linkedin.com/in/abir-el-halimi-6a404048/" target="_blank">
      <img src="assets/linkedin-icon.png" alt="linkedin-link">
    </a>
    <a href="https://dribbble.com/reginaxxphalange" target="_blank">
      <img src="assets/dribbble.png" alt="dribbble-link">
    </a>
    <!--    <a class="tooltip" onclick="copyToClipboard('#mail')">-->
    <!--      <img src="src/assets/gmail-icon.png" alt="gmail-link">-->
    <!--      <span class="tooltiptext">Click me to copy mail</span>-->
    <!--    </a>-->
    <!--    <span class="mail" id="mail">abirelhalimi@gmail.com</span>-->
  </div>

  <app-navbar></app-navbar>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    Made with &hearts; by <a href="https://www.linkedin.com/in/abir-el-halimi-6a404048/" target="_blank">Abir El
    Halimi</a>.
  </div>
</div>
<div class="img-holder">
  <div class="card">
    <img class="img" src="assets/logo.png" alt="my picture">
  </div>
</div>

