<div class="container">
  <div>
    <img class="img" src="assets/my-logo.png" alt="my-logo">
    <h2>Software Development Engineer</h2>
  </div>
  <div class="links">
    <a href="https://github.com/abirelhalimi" target="_blank">
      <img src="assets/github-icon.png" alt="github-link">
    </a>
    <a href="https://www.linkedin.com/in/abirelhalimi" target="_blank">
      <img src="assets/linkedin-icon.png" alt="linkedin-link">
    </a>
  </div>

  <app-navbar></app-navbar>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <p>&copy; 2024 Abir El Halimi. All Rights Reserved.</p>
  </div>
</div>

