<div class="products-container">
  <div class="description">
    <p>
      If you like <strong>goal setting</strong> and planning. <br>
      You'll love my <strong>Life Planner</strong> which I personally <strong>created</strong> and use everyday. <br>
      You can get it for <strong>Free</strong> by clicking the <strong>download button</strong> below. <br>
      I hope it'll help you in <strong>achieving your goals</strong> and <strong>building new habits</strong>. <br>
      Don't forget to let me know what you think if you use it !
    </p>
  </div>
  <div class="description">
    <img class="product-img"
         src="././assets/lifeplanner.png"
         alt="lifeplanner-image">
    <div class="gumroad-product-embed" data-outbound-embed="true">
      <button class="btn-dark-outline">
        <a href="././assets/life-planner.pdf" target="_blank">Download Life Planner</a>
      </button>
    </div>
  </div>
</div>
