.products-container {
  max-width: 1600px;
  overflow: hidden;
  text-align: center;
  margin: auto;

  .description {
    margin: 50px;

    p {
      color: #282828;
      font-size: 23px;
      margin: 0;
    }

    strong {
      color: #8A9191;
    }
  }

}

@media only screen and (max-width: 400px) {

}
