<div class="products-container">
  <div class="description">
    <p>
      I am a big fan of <strong>productivity</strong> and <strong>goal setting</strong> and planning. <br>
      I have been doing so for a long time now and I have changed the way I do it many times over the years.<br>
      I love <strong>motivating people to work on their goals</strong>, to keep evolving to the best version of themselves.<br>
      So, I thought I'd start creating products based on what I personally use and what has worked for me <br>
      to share with the rest of the world to use and hopefully get to where they want in life.
    </p>
  </div>
  <app-product-list></app-product-list>
</div>
