.products-container {
  max-width: 1600px;
  overflow: hidden;
  text-align: center;
  margin: auto;

  .description {
    margin: 50px;

    p {
      color: #282828;
      font-size: 23px;
      margin: 0;
    }

    strong {
      color: #8A9191;
    }

    .product-img {
      max-width: 600px;
      max-height: 480px;
      margin: 20px;
    }

    .btn-dark-outline {
      text-decoration: none;
      font-family: Gabriola, sans-serif;
      font-size: 25px;
      background-color: transparent;
      padding: 0 10px;
      min-width: 150px;
      border-radius: 10px;
      border: 1px solid #282828;
      outline: none;
      color: #282828;
      margin: 2px;

      a {
        text-decoration: none;
        color: #282828;
      }

    }

    .btn-dark-outline:hover {
      background-color: #282828;
      color: white;

      a {
        background-color: #282828;
        color: white;
      }

    }


  }

  }


@media only screen and (max-width: 400px) {
  .products-container {
    .description {

      .product-img {
        max-width: 200px;
        max-height: 160px;
      }

      ul {
        display: inline-block;

      }

    }
  }
}
