.content {
  margin-top: 50px;

  button {
    text-decoration: none;
    font-family: Gabriola, sans-serif;
    font-size: 25px;
    background-color: #282828;
    padding: 0 10px;
    min-width: 200px;
    border-radius: 10px;
    outline: none;
    margin: 10px;
    color: white;
    border: none;

    a {
      text-decoration: none;
      color: white;
    }
  }

  button:hover {
    font-size: 30px;
    width: 230px;

    a {
      font-size: 30px;
      width: 230px;
    }
  }

  .timeline {
    margin: 30px auto;
    max-width: 800px;
    padding: 35px;
    text-align: left;
    overflow: hidden;

    h2 {
      font-weight: 600;
      color: #282828;
      font-size: 35px;
      margin: 0;
    }

    .event {
      overflow: hidden;
      background-color: white;
      width: 350px;
      height: 200px;
      border-radius: 20px;
      padding: 10px;
      margin: 20px auto 20px 20px;
      color: #282828;
      display: inline-block;

      h3 {
        font-size: 30px;
        margin: 0 0 0 10px;
      }

      h4 {
        margin: 0 0 0 10px;
      }

      span {
        margin: 0 0 0 10px;
      }

      p {
        color: #8A9191;
        margin: 10px 0 0 10px;
      }
    }
  }
}

@media only screen and (max-width: 440px) {

  .content {

    .timeline {
      margin: 30px auto;
      max-width: 500px;
      padding: 35px;
      text-align: left;
      overflow: hidden;

      .event {
        overflow: hidden;
        background-color: white;
        width: 260px;
        height: 180px;
        border-radius: 20px;
        padding: 10px;
        margin: 20px auto 20px 0;
        color: #282828;
        display: inline-block;

        h3 {
          font-size: 25px;
          margin: 0 0 0 10px;
        }

        h4 {
          margin: 0 0 0 10px;
        }

        span {
          margin: 0 0 0 10px;
        }

        p {
          color: #8A9191;
          margin: 10px 0 0 10px;
        }
      }
    }
  }

}
