<div class="content">

  <button>
    <a routerLink="/preview" target="_blank">Preview Resume</a>
  </button>

  <div class="timeline">

    <h2>Work Experience</h2>
    <div class="event">
      <h3>Application Developer - Intern</h3>
      <h4>Schneider Electric</h4>
      <span>March 2020 - Present</span>
      <p>Development of an energy trading application in association with blockchain in the energy access
        sector.</p>
    </div>
    <div class="event">
      <h3>Full Stack Developer - Intern</h3>
      <h4>SQLI</h4>
      <span>July 2019 - August 2019</span>
      <p>Web application for managing social projects built by free donations via the consultation of
        advertising videos.</p>
    </div>

    <h2>Education</h2>
    <div class="event">
      <h3>Software Engineering</h3>
      <h4>National School for Computer Science (ENSIAS)</h4>
      <span>2017 - Present</span>
      <p>Three years program with the goal to obtain an Engineer's degree in computer science</p>

    </div>
    <div class="event">
      <h3>Preparatory Classes</h3>
      <h4>CPGE Tangier</h4>
      <span>2015 - 2017</span>
      <p>Two years preparatory course focused on maths and physics for enrolment in one of the higher
        engineering schools </p>
    </div>
    <div class="event">
      <h3>Baccalaureate</h3>
      <h4>Lycée Moulay Mohamed Ben Abdellah - Larache</h4>
      <span>2012 - 2015</span>
      <p>Mathematical Sciences</p>
    </div>

  </div>
</div>
