<div class="content">

  <button>
    <a routerLink="/preview" download="src\assets\resume.pdf">Preview Resume</a>
  </button>

  <div class="timeline">

    <h2>Work Experience</h2>
    <div class="event">
      <h3>Software Development Engineer</h3>
      <h4>Amazon Web Services - BluAge</h4>
      <span>November 2020 - March 2023</span>
        <ul>
          <li>
            Worked on automating the transformation of legacy language applications into modern
             Java-based ones.
          </li>
          <li>
            Supported and developed new features for comprehensive coverage of different
             mainframe languages, catering to a broader range of customers.
          </li>
          <li>
            Enhanced BluAge's capabilities to make working with mainframe datasets easier.
          </li>
          <li>
            Improved customer satisfaction through proactive issue resolution and troubleshooting assistance.
          </li>
        </ul>
    </div>
    <div class="event">
      <h3>Blockchain Developer - Intern</h3>
      <h4>Schneider Electric</h4>
      <span>March 2020 - September 2020</span>
      <ul>
        <li>
          Conceptualized and developed an energy trading app on the Ethereum blockchain.
        </li>
        <li>
          Built and coordinated backend architecture using Spring Boot, while crafting a 
          user-friendly front-end using Angular.
        </li>
        <li>
          Developed smart contracts with Solidity and utilized Geth, Truffle, and Web3j for 
          blockchain integration.
        </li>
        <li>
          Recognized by management for outstanding contributions, receiving an award for innovation.
        </li>
      </ul>
    </div>
    <div class="event">
      <h3>Full Stack Developer - Intern</h3>
      <h4>SQLI</h4>
      <span>July 2019 - September 2019</span>
      <ul>
        <li>
          Designed and implemented a web application to facilitate management of social projects funded through free
          donations via watching advertising videos.
        </li>
        <li>
          Used Java, Spring Boot, TypeScript, Angular, PostgreSQL, and integrated Swagger for API documentation.
        </li>
        <li>
          Implemented Spring Security and JWT for secure user authentication and data protection.
        </li>
        <li>
          Created REST APIs for seamless frontend-backend communication and a responsive user interface.
        </li>
      </ul>
    </div>

    <h2>Education</h2>
    <div class="event">
      <h3>Software Engineering</h3>
      <h4>National School for Computer Science (ENSIAS)</h4>
      <span>2017 - 2020</span>
      <p>Three years program with the goal to obtain an Engineer's degree in computer science</p>

    </div>
    <div class="event">
      <h3>Preparatory Classes</h3>
      <h4>CPGE Tangier</h4>
      <span>2015 - 2017</span>
      <p>Two years preparatory course focused on maths and physics for enrolment in one of the higher
        engineering schools </p>
    </div>
    <div class="event">
      <h3>Baccalaureate</h3>
      <h4>Lycée Moulay Mohamed Ben Abdellah - Larache</h4>
      <span>2012 - 2015</span>
      <p>Mathematical Sciences</p>
    </div>

    <h2>Awards</h2>
    <div class="event">
      <h3>OSER ÊTRE INVENTIF</h3>
      <h4>Sandeep Mishra - Schneider Electric</h4>
      <span>August 2020</span>
      <p>
        <button class="btn-dark-outline">
          <a href="../../assets/award.pdf" target="_blank">Perview Award</a>
        </button>
      </p>
    </div>

    <h2>Certificates</h2>
<!--    <div class="event">-->
<!--      <h3>The Fundamentals Of Digital Marketing</h3>-->
<!--      <h4>Google Digital Garage</h4>-->
<!--      <span>April 2021</span>-->
<!--    </div>-->
<!--    <div class="event">-->
<!--      <h3>Essentials Of Entrepreneurship</h3>-->
<!--      <h4>Coursera - University Of California</h4>-->
<!--      <span>May 2020</span>-->
<!--    </div>-->
<!--    <div class="event">-->
<!--      <h3>Introduction To Psychology</h3>-->
<!--      <h4>Coursera - Yale University</h4>-->
<!--      <span>May 2020</span>-->
<!--    </div>-->

<!--     <div class="event">
      <h3>React 18 for Beginners</h3>
      <h4>Mosh</h4>
      <span>September 2023</span>
    </div> -->
    <div class="event">
      <h3>JavaScript Algorithms & Data Structures</h3>
      <h4>freeCodeCamp</h4>
      <span>June 2019</span>
    </div>
    <div class="event">
      <h3>Responsive Web Design</h3>
      <h4>freeCodeCamp</h4>
      <span>February 2019</span>
    </div>

  </div>
</div>
